.body1{
    background-color: #c0c0c0;
}

.title1{
    margin-left: 300px;
}

.addEvent{
    text-align: center;
}

.form-value{
    margin-left: 300px;
    font-size: 15px;
}

.date{
    margin-left: 300px;
    width: 800px;
    font-size: 15px;
}

.number{
    margin-left: 300px;
    width: 800px;
    font-size: 15px;
}

.info-input{
    width: 800px;
}

.info-textarea{
    width: 800px;
    height: 100px;
}

.imgupd{
    margin-left: 300px;
    cursor: pointer;
}

.pstad-image-help{
    margin-left: 300px;
}

.button1{
    margin-left: 10px;
    width: 300px;   
    height: 50px;   
    display: block;   
    background-color: #f69392;   
    border: 1px solid black;   
    color: #fff;   
    padding: 10px 14px;   
    font-size: 15px;   
    line-height: normal;   
    border-radius: 5px;   
    margin: 0;   
    cursor: pointer;
}

.button1:hover{
    color: black;
    background-color: white;
}

.cont{
    text-align: center;
}

.button2{
    cursor: pointer;
}
